@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YdestreetB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeferiPoint-BlackObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.wrapper{
  padding: 1rem 15rem;
  display: flex;
  flex-flow: column nowrap;
  background-color: #0f0f0f;
  color : white;
}

/*주황 : ff7e00 */
/*회색 : 474644 */


.HeWrapper{
  display: flex;
  flex-flow: column nowrap;
}


.topBar{
  display: flex;
  position: fixed;
  flex-flow: row nowrap;
  top: 70px; 
  align-items: center;
}

#logo{
  font-family: 'LeferiPoint-BlackObliqueA';
  font-size: 50px;
}

#logoPic{
  position: fixed;
  left: 46.5%;
}

.secondBar{
  display: flex;
  position: fixed;
  flex-flow: column nowrap;
  top: 180px;
  gap: 20px;
  font-size: 15px;
}

.thirdBar{
  display: flex;
  position: fixed;
  flex-flow: column nowrap;
  top: 150px;
  left: 1465px;
  gap: 20px;
  font-size: 15px;
  align-items: flex-end;
}

.NavTo{
  text-decoration: none;
  color: white;
  font-family: 'LeferiPoint-WhiteObliqueA';
}

.NavTo:hover{
  cursor: pointer;
  color: blue;
  font-size: 23px;
}

.wrapper h2{
  margin: 0 !important;
}

#logoContainer:hover{
  cursor: pointer;
}

/*-------------for Header-----------*/

.mainContainer{
  margin-top: 300px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: column nowrap;
  width: 1423px;
}

.inlineTitle{
  display: flex;
  flex-flow: row-reverse;
  padding-right: 100px !important;
  font-size: 30px;
  font-family: 'LeferiPoint-BlackObliqueA';
}

.showcase{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-top: 2px solid white;
  margin: 20px 70px;
  padding-left: 20px;
  padding-right: 20px;
  grid-gap: 40px;
}

.item{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 60px;
  align-items: center;
  width: 387px;
}

.item::after{
  content: "";
  display: block;
  width: 60px;
  align-self: flex-start;
  border-left: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
  margin: 5px 50px;
}

.item:hover{
  cursor: pointer;
}

.itemPic{
  height: 230px;
  justify-self: center;
}

.itemPic:nth-child(1):hover{
 -webkit-filter: blur(3px);
}

.itemText{
  display: flex;
  flex-flow: row nowrap;
  justify-self: flex-end;
  padding-top: 20px;
  width: 320px;
  justify-content: space-around;
}

.itemName{
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
}

.itemPrice{
  font-size: 14px;
  font-weight: 700;
}

#item1{
  grid-column: 1/2;
  grid-row: 1/2;
}

#item2{
  grid-column: 2/3;
  grid-row: 1/2;
}

#item3{
  grid-column: 1/2;
  grid-row: 2/3;
}

#item4{
  grid-column: 2/3;
  grid-row: 2/3;
}

#item5{
  grid-column: 3/4;
  grid-row: 1/3;
}

#item5 #nowItem{
  width: 340px;
}



/*-------------for Footer-----------*/
.FoWrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 150px;
  width: 1423px;
  margin-top: 70px;
}

.FoWrapper p{
  margin: 0 !important;
  padding-bottom: 5px;
  font-size: 15px;
}
#footerLogo{
  font-family: 'LeferiPoint-WhiteObliqueA';
  grid-row: 1/2;
  grid-column: 1/2;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.l1{
  font-family: Pretendard;
  grid-row: 2/3;
  grid-column: 1/2;
}

.l2{
  font-family: Pretendard;
  grid-row: 2/3;
  grid-column: 2/3;
}

.l3{
  font-family: Pretendard;
  grid-row: 2/3;
  grid-column: 3/4;
}



