.clothesShowcase{
  display: grid;
  grid-template-columns: 80% 20%;
  border-top: 2px solid black;
  margin: 20px 70px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.clothesShowcase .list{
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
}

.clothesShowcase .list .clItem{
  display: flex;
  width: 300px;
  height: 250px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.clItem::after{
  content: "";
  background: transparent;
  border: 2px solid transparent;
}

.clItem:hover::after{
  animation: animates 0.2s linear forwards;
}

@keyframes animates {
  0% {
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: blue;
  }

  50% {
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: blue;
      border-left-color: transparent;
  }

  100% {
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: blueviolet;
      border-left-color: transparent;
  }
}

.clothesShowcase .list .clItem .itemPic{
  height: 190px;
}

.clothesShowcase .list .clItem .itemName{
  align-self: flex-end;
  margin-bottom: 0 !important;
}

.clothesShowcase .list .clItem .itemPrice{
  align-self: flex-end;
  margin-bottom: 0 !important;
}
.clothesShowcase .nowOn{
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 50px;
  position: fixed;
  top: 40%;
  left: 1350px;
}

.clothesShowcase .nowOn #nowItemPic{
  width: 250px;
  align-self: center;
  margin-top: 20px;
}


