.pieChartIn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-self: center;
}

.chartF{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: center;
}

.pieChartIn h2{
  font-size: 33px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  border-bottom: 1px solid gray;
  padding: 10px 10px 5px 10px;
  margin-bottom: 50px !important;
  align-self: center;
  width: fit-content;
}

.barChartIn{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.barChartIn h2{
  font-size: 33px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  border-bottom: 1px solid gray;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px !important;
  align-self: center;
  width: fit-content;
}

.pieChartIn rect{
  width: 600px !important;
  height: 350px;
  align-self: center;
}

.pieChartIn Chart{
  margin: 0 !important;
}

.circles{
  width: 600px !important;
  margin: 0 !important;
  align-self: center;
  height: 400px;
}

.circles svg:first-child text{
  font-size: 17px;
  font-family: 'LeferiPoint-WhiteA';
  text-align: left;
  padding-top: 10px !important;
}

.tabContent{
  padding: 30px 50px 20px 50px;
}

.chartContent{

}

.lines{
  width: 1000px !important;
  margin: 0 !important;
  align-items: center;
}
