.three{
    width: 100vw;
    height: 100vh;
}

.inner_html{
    font-size: 50px;
    height: 3200px;
    width: 1500px;
    border-radius: 150px;
    position: relative;
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
}
.phonebg{
    position: absolute;
    background-image: url(/public/model/phonebg.jpg);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.phonemain{
    position: absolute;
    background-image: url(/public/model/phonemain.jpg);
}
.phone_message{
    position: absolute;
    background-image: url(/public/model/message_in.jpg);
}
.inner_html .time{
    text-align: center;
    margin-top: 400px;
    font-size: 500%;
    color: aliceblue;
}
.phonemain .time{
    margin-top: 73px;
    margin-left: 67px;
    text-align: left;
    font-size: 107%;
    color: aliceblue;
}
.phone_message .time{
    margin-top: 81px;
    margin-left: 67px;
    text-align: left;
    font-size: 107%;
    color: aliceblue;
}
.inner_html .date{
    text-align: center;
    font-size: 150%;
    color: aliceblue;
}
.inner_html #message_icon{
    margin: 0px auto;
    height: 50px;
    width: 50px;
}
.inner_html #fingerprint{
    margin: 0px auto;
    margin-top: 1500px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    
}
.inner_html #fingerprint:hover{
    transition: 2s;
    transform: scale(1.5);
}
.inner_html #message_app{
    position: absolute;
    top: 87%;
    left: 23%;
    width: 245px;
    height: 245px;
    cursor: pointer;
}
.inner_html #message_main{
    background: url(/public/model/message_main.jpg);
    position: absolute;
    top: 86%;
    left: 27%;
    width: 10%;
    visibility: hidden;
    transition: 0.5s;
}
.inner_html #message_main_click{
    position: absolute;
    background: url(/public/model/message_main.jpg) no-repeat ;
    border-radius: 150px;
    background-size:contain;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    visibility: visible;
    transition: 0.5s;
}
.inner_html .start{
    color: white;
    margin-top: 35%;
    margin-left: 19%;
    cursor: pointer;
}
.inner_html .start img{
    color: white;
    margin-top: -18%;
    margin-left: 84%;
}
.inner_html .message_box{
    margin-top: 20%;
    width: 100%;
    height: 76%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.inner_html .message_box::-webkit-scrollbar {
	display:none /* Chrome , Safari , Opera */
}
.inner_html .message_date{
    width: 100%;
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 50px;
    background-color: #000000;
}
.inner_html .message_date img{
    height: 650px;
    margin: 0px auto;
}
.inner_html .message{
    width: fit-content;
    border-radius: 60px;
    padding: 50px;
    margin: 30px 85px;
    color: white;
    text-align: left;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    background-color: #454545;
    font-family: 'LeferiPoint-WhiteA';
    font-weight: 600;
}
.inner_html .left_info{
    position: absolute;
    left: -200%;
    top: 10%;
    width: 150%;
    height: 80%;
    transform: perspective(800px) rotateY(1deg);
    border: red 5px solid;
    border-radius: 60px;
    background-color: black;
    opacity: 0.25;
    color: white;
    font-size: 80px;
    text-align: center;
    transition: 1s;
    padding: 50px;
}
.left_info{
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr 2fr;
    justify-items: center;
    align-content: center;
}
.left_info .top{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 50px 0px;
}
.left_info .info{
    height: 200%;
}
.left_info p{
    font-family: 'LeferiPoint-WhiteA';
    font-weight: 500;
    margin: 0px;
}
.left_info .namebox{
    border-top: red solid 5px;
    border-bottom: red solid 5px;
    padding: 80px 0px;
    padding-top: 110px;
    width:80%;
    font-size: 120px;
    margin: 100px 0px;
    font-weight: 700;
}
.left_info .Oblique{
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: 650;
}
.left_info img{
    height: 900px;
}
@keyframes onmessageapp {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}
@keyframes onmessageappmain {
    0%{
        top: 86%;
    left: 27%;
    width: 10%;
        transform: scale(0);
    }
    100%{

        top: 0%;
    left: 0%;
    width: 100%;
        transform: scale(1);
    }
}