body {
    height: 937px !important;
    padding: auto 0;
    height: fit-content;
}

.carContainer {
    height: fit-content !important;
    /* padding: 200px 0 100px 0; */
}

.carWrapper {
    height: 937px;
    background-image: url('../../../public/pic/Car/road3.png');
    background-repeat: no-repeat;
    background-size: cover;

}

#car {
    position: relative;
    width: 350px;
    height: 170px;
    top: 300px;
    left: 50px;
    background-image: url('../../../public/pic/Car/car4.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(0deg);
}