body {
  margin: 0 !important;
}

.background {
  background-image: url("../../../public/pic/Home/hall.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 937px;
}

.container {
  display: block;
  height: 100%;
}

.toCar {
  position: absolute;
  left: 14%;
  top: 50%;
}

.toPhone {
  position: absolute;
  left: 15%;
  top: 20%;
  height: 550px;
  width: 550px;
  transform: perspective(500px) rotateY(50deg) scale(0.1);
}

.toPhone:hover {
  animation: rotate-center2 2s linear both;
}
.toGoods {
  position: absolute;
  left: 47.5%;
  top: 45%;
  height: 100px;
  width: 100px;
}
.doorPhone{
  position: absolute;
  left: 0%;
  top: 0%;
}
#doorCar {
  width: 250px;
  transform: rotateY(45deg);
}

#doorCar:hover {
  cursor: pointer;
  animation: rotate-center 1.3s linear both;
  animation-iteration-count: infinite;
  animation-delay: 0;
}
.doorPhone:hover {
  cursor: pointer;
  animation: rotate-center 0.9s linear both;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0) ;
  }
  100% {
    transform: rotate(720deg) ;
  }
}
@keyframes rotate-center2 {
  0% {
    transform: perspective(500px) rotateY(45deg) scale(0.1) ;
  }
  100% {
    transform: perspective(500px) rotateY(45deg) scale(0.7) ;
  }
}
