body {
  margin: 0 !important;
}

.homepage{
  height: 937px;
  width: 1920px;
  overflow: hidden;
}
.hall {
  background-image: url("../../../public/pic/Home/hall.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: zoom 2s cubic-bezier(.18,.52,.43,.76);
  height: 937px;
}

#portal_car{
  position: absolute;
  left: 15%;
  top: 20%;
  height: 550px;
  width: 550px;
  transform: perspective(500px) rotateY(50deg) scale(0.3);
  animation: bigger linear 2s;
  transition: 1s;
}
#portal_car:hover{
  transform: perspective(500px) rotateY(50deg) scale(0.6);
  transition: 1s;
}
#inner_car {
  position: absolute;
  height: 550px;
  width: 550px;
  left: 0%;
  top: 0%;
  transition: 2s;
  background-image: url(../../../public/pic/Home/tmp.png);
  background-size: 100%;
  background-position: center;
  overflow: hidden;
}

.up_portal{
  cursor: pointer;
  animation: rotate-center 1.0s linear both;
  animation-iteration-count: infinite;
}
.down_portal{
  cursor: pointer;
  animation: rotate-center 1.1s linear both;
  animation-iteration-count: infinite;
}
.toGoods {
  position: absolute;
  left: 47.5%;
  top: 45%;
  height: 100px;
  width: 100px;
}
.doorPhone {
  position: absolute;
  left: 0%;
  top: 0%;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0) ;
  }
  100% {
    transform: rotate(850deg) ;
  }
}
@keyframes zoom {
  0% {
    transform: perspective(500px) rotateY(0deg) scale(1) ;
  }
  100% {
    transform: perspective(500px) rotateY(0deg) scale(1.3) ;
  }
}
@keyframes bigger {
  0% {
    transform:  perspective(500px) rotateY(50deg) scale(0) ;
  }
  100% {
    transform:  perspective(500px) rotateY(50deg) scale(0.3) ;
  }
}
