body{
  margin: 0 !important;
}

.background{
  background-image: url("../../../public/pic/Home/hall.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 937px;

  
}

.container{
  display: block;
  height: 100%;
}

.toCar{
  position: absolute;
  left: 14%;
  top: 50%;
}

.toPhone{
  position: absolute;
  left: 40%;
  top: 50%;
}

.toGoods{
  position: absolute;
  left: 70%;
  top: 50%;
}

.doorCar{
  width: 250px;
}

.doorCar:hover{
  cursor: pointer;
  -webkit-animation: rotate-center 1.3s linear both;
          animation: rotate-center 1.3s linear both;
          animation-iteration-count: infinite;
          animation-delay: 0;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

